@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,

body {
    min-height: 100%;
}
header{
    padding:1rem 2rem;
}
.site-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    position: relative;
    z-index: 10;
}

.menu-btn{
    width: 56px;
    height: 44px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: rgba(19, 2, 70, 0.313);
    border: 1px solid rgba(41, 3, 230, 0);
    border-radius: 12px;

    cursor: pointer;
    backdrop-filter: (6px);
    transition: background 0.2s ease, transform 0.2s ease;
}
.menu-btn span{
    display: block;
    background: linear-gradient(to right,#fc72ff, #8f68ff, #487bff);
    height: 4px;
    width: 100%;
    border-radius: 4px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.menu-btn.open span:nth-child(1){
    transform: translateY(12px) rotate(45deg);
}
.menu-btn.open span:nth-child(2){
    opacity: 0;
}

.menu-btn.open span:nth-child(3){
    transform: translateY(-12px) rotate(-45deg);
}

.site-nav{
    display: none;
    flex-direction: column;
    gap: 1.5rem;
}
.site-nav.open{
    display: flex;
}
.site-nav a{
 font-family: 'poppins', 'sans-serif';
    font-size: 30px;
    font-weight: 700;
    
    text-transform: uppercase;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    filter: drop-shadow(0,2,4,rgba(129, 0, 69, 0));
}
.desktop-title{
    font-size: clamp(4rem, 8vw, 7rem);
    font-weight: 800;
}
.mobile-title{
    font-size: 3rem;
    font-weight: 800;
    display: none;
}
body.menu-open{
    overflow: hidden;
}

body.home{
    background: url(../assets/home.png) center / cover no-repeat;
}
body.trees{
    background: url(../assets/trees.jpeg) center / cover no-repeat;
}
body.music{
    background: url(../assets/music.jpeg) center / cover no-repeat;
}
body.abp{
    background: url(../assets/abp.jpeg) center / cover no-repeat;
}

body::before{
    pointer-events: none;
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0, 0, .5);
    z-index: -1;

}


@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

.site-nav a:hover{
    transition: 0.2s ease;
    transform: scale(1.05);
}

main{
    padding: 4rem 2rem;
}
h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
p{
    max-width: 600px;
    line-height: 1.6;
}
@media(max-width: 768px){
    .desktop-title{
        display: none;
    }

    .mobile-title{
        display: block;
    }
    .site-nav{
        padding: 18px 20px;
        font-size: 20px;
    }
    
    nav{
        flex-direction: column;
        gap: 1.2rem;
    }
}